@charset "UTF-8";
@import url(https://bjin7916.github.io/fonthosting/font/Koverwatch.woff);

/* 콘텐츠A : 헤더 배경 이미지 */
.conA {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(https://t1.daumcdn.net/cfile/tistory/99C69D3E5B8A8FEE24);
    background-position: center;
    background-size: cover;
    height: 82vh;
    min-height: 450px;
    display: flex;
    align-items: center; /* 세로 중앙 배치 */
    justify-content: center; /* content 중앙 배치 */
    color: var(--text-bright-color);
}

.conA h1 {
    margin-top: 0;
    color: #d68c03;
    margin-bottom: 5px;
    font-size: 15vw; /* 768px 이하에선 상대적인 크기*/
    font-family: "Montserrat", sans-serif;
    font-family: "Noto Sans KR", sans-serif;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

.conA img {
    width: 20%;
}

.conA a {
    text-decoration: none;
    font-size: 18px;
    color: #3f3f3f;
    font-weight: bold;
    background-color: var(--accent-color);
    padding: 10px 30px;
    border: solid 2px #fff;
    border-radius: 6px;
    margin-top: 5px;
    display: inline-block;
    background-color: #d68c03;
}

.conA a:hover {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
}

@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    } /* 768px 이상에선 고정크기*/
    .conA p {
        font-size: 24px;
    }
}





/* 콘텐츠 B: 개요(아이콘 + 텍스트) */
.conB {
    background-color: #000;
}

.conB .text {
    text-align: center;
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
}

.conB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8; /* 줄높이 : font-size 의 1.8배 */
    opacity: 0.8;
}

.conB a {
    text-decoration: none;
    color: #fff;
    
}

.conB a:hover {
    text-decoration: underline;
}

.conB .icon {
    font-size: 40px;
    width: 4em; /* 폭 글꼴 크기의 2배 */
    line-height: 4em; /* 높이, 글꼴 크기의 2배 */

    color: #fff;
    color: var(--icon-color);
    background-color: #000;
    background-color: var(--icon-bk-color);

    border-radius: 10px; /* 둥글게 만들기 */
    text-align: center;

    display: inline-block; /* 아래 margin 적용을 위해 */
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    /* 768 이상(pc) */
    /* flexible box 기능으로 가로 정렬 */
    .conB .container {
        /* 그래서, 부모를 flex 로 설정 */
        display: flex;
        max-width: 1000px; /* 최대 폭 지정 */
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conB .text {
        flex: 1; /* 1 : 1 : 1 비율 설정 */
    }
}

.conB .container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB .text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* 콘텐츠 C: 개요(이미지 + 텍스트) */

.conC {
    background-color: #000;
    color: #fff;
    color: var(--text-bright-color);
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid #fff;
}


@media (min-width: 768px) {
    .conC .container {
        display: flex;
        /*  컨텐츠 B 와 너비 맞추기 */
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conC .container .iframe_wrap iframe {
        width: 540px;
        max-height: 400px;
    }

    .conC .photo {
        flex: 3;
    }

    .conC .text {
        flex: 2;
        padding: 50px;
    }
}





